
body
{
    background-image: url("/img/c3.jpg");
}

h1
{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 2%;
    font-size: 70px;
    color: #03045E;
    text-decoration: underline;
}

.table1
{
    position: relative;
    left: 5%;
    display: flex;
}
.row
{
    line-height: 2;
    word-spacing: 5px;
    letter-spacing: 4px;
    text-align: center;
    margin: 5px;
    font-style: italic;
}

a 
{
    text-decoration: none;
}

